<!doctype html>

<html>
  <head>
    <title>Big Red Hacks Natural Disaster Sentiments?</title>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>Natural Disaster Sentiments</h1>
    <form>
      <label>Please let us know what you thought about the last natural disaster:</label>
      <textarea rows = "5" cols="80"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
